* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body {
    font-family: $family;
    font-size: $size;
    background-color: $main-bg;
}
p {
    font-size: 1em;
    font-weight: 500;
    color: $text-color;
    margin-bottom: 20px;
}
h1, h2, h3, h4 {
    font-weight: 700;
    color: $white;
}
.last-side {
    margin-right: 0;
}
.last-foot {
    margin-bottom: 0;
}
a {
    font-size: 1em;
    font-weight: 500;
    color: $light-text-color;
    &:hover {
        text-decoration: underline;
    }
}
input {
    background: none;
    border: none;
    outline: none;
    padding: 10px 14px;
    font-size: 15px;
    transition: all .3s ease-in-out;
    border: 1px solid transparent;
    border-radius: 20px;
}
br {
    display: none;
}